<h4>Contact</h4>
<ul>
    <li>
        	<p>For more information and to apply to join Flow Forum, please contact 
			<a href="mailto:{{ site.email }}?subject=Flow Forum">{{ site.author }}</a></p>
    </li>
    <li>
        	<p>For more information on the 
			<a href="https://www.eonetwork.org/sanfrancisco">Entrepreneurs Organization (EO)</a></p>
    </li>
    {% if site.g_analytics %}
    <li>
        <p><a href="https://www.google.com/analytics/terms/en.html">Google Analytics</a><br><small>Disclaimer</small></p>
    </li>
    {% endif %}
</ul>
